/* defining the base styles */

body{
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif
}

* {
  box-sizing: border-box;
}

/* page title */
h1{
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px;
	color: #2c7bb6;
	font-size: 1.75em;
}

/* menu box */
#menubox {
	background-color:#abd9e9;
	border: 1px solid black;
	/*width: 90%;*/
	margin: 10px;
}


/* general styling for the menus */
.menutitle{
	width: 90px;
	border: 1px solid black; /* defined border style around */
	/* defined where the border is present to avoid overlap with the parent div border */
	border-style: none none solid solid; 
	text-align: center;
	float: right;
	margin-bottom: 15px;
	ont-size: 1.25em;
}

/* styling for the chicken menu */
#chicken{
	background-color: #ffffbf;
}

/* styling for the beef menu */
#beef{
	background-color: #fdae61;
}

/* styling for the sushi menu */
#sushi{
	background-color: #d7191c;
}

/* styling for the paragraphs within each menu */
p{
	margin: 20px 15px 20px 15px;
	text-align: left;
	clear:both; /*to make sure it is under the menu title*/
}



/* media queries */

.row {
  width: 100%;
}


@media (min-width: 992px){
	.col-lg-4{
		float:left;
	}

	.col-lg-4{
		width: 33.33%;
	}
}


@media (min-width: 768px) and (max-width: 991px){
	.col-md-6, .col-md-12{
		float:left;
	}

	.col-md-6{
		width: 50%;
	}

	.col-md-12{
		width: 100%;
	}
}

@media (max-width: 767px){
	.col-sm-12{
		float:left;
	}

	.col-sm-12{
		width:100%;
	}
}