body {
  font-size: 16px;
  background-color: #fedcd2;
}


/** HEADER **/
#header-nav {
  background-color: #bfd8d2;
  border-radius: 0;
  border-style: none none solid none;
  border-color: #dcb239;
  border-width: 2px;
}


.navbar-brand {
  padding-top: 25px;
  padding-bottom: 50px;
}

.navbar-brand h1 { /* Restaurant name */
  color: #df744a;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #fedcd2;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}


#nav-list {
  color: grey;
  text-align: center;
  margin-top: 10px;
}

#nav-list span {
  font-size: 1.1em;
}


#sushi, #beef, #chicken{
  background-color: #bfd8d2;
  border-radius: 15px;
  border-style: solid ;
  border-color: #dcb239;
  border-width: 2px;
  width: 100%;
  color: grey;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 15px;
}

h2{
  color: #df744a;
  margin-bottom: 30px;
}

h3{
  color: #df744a;
}